.item{
    padding: 10px;
    border: 1px solid #f1f1f1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0;
}

.item:hover {
    -webkit-box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.1);
}

.item span {
    text-align: left;
}

.item button {
    float: right;
    border: 0;
    background-color: #f1f1f1;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item button:hover{
    background-color: #e92c2c;
}